.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App .layoutHeader{
  font-size: 40px;
  margin: 0;
  height: 200px;
  background-color: #333333;
  text-align: center;
  border-bottom: black solid 1px ;
}

.App .layoutHeader img{
  height: 40%;
  margin-bottom: 20px;
}

.App .container {
  width: 1500px;
  display: flex;
  margin:  auto;
}

.App h2{
  margin: 0 20px 0 0;
  padding-top:10px ;
  padding-left: 10px;
  text-align: left;
}

.App .goods {
  border-right: black solid 1px ;
  width: 1300px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  height: 900px;
}

.App .orderList{
  width: 450px;
  gap: 40px;
}

.App .orderList div{
 padding: 0 30px 0 0;
}


.App .orderItems{
  height: 750px;

}

.App .orderItem{
  margin-top: 5px;
  margin-left: 20px;

}

.App .totalPrice{
  padding-left: 10px;
  border-top: black solid 1px;
  font-size: 16px;
  display: flex;
}

.App .totalPrice2{

  margin: 5px 0 0 10px;
  font-size: 24px;
}



.App .orderItems p{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

